:host {
    --close-icon: url('/assets/close.svg');
    --overlay: rgba(0, 0, 0, .6);
    --modal-bg: #fff;
    --modal-radius: 4px;
    --modal-size: 600px;
    --header-bg: #3a0620;
    --modal-fz: 1rem;
    --modal-body-height: 300px;
    --footer-align: flex-end;
    --footer-bg: #eee;
    --footer-button-gap: 10px;
    --modal-body-padding: 10px;
    --modal-body-overflowY: auto;

    --modal-body-height-mobile: 150px;

    --btn-bg-primary: #1370fa;
    --btn-color-primary:#fff;
    --btn-bg-primary-hover:#065ad8;

    --btn-bg-secondary:#dfdfdf;
    --btn-color-secondary:#333333;
    --btn-bg-secondary-hover:#adb5bd;

    --btn-bg-outline:#fd7e14;
    --btn-bg-outline-hover:#fff;
    --btn-color-outline-hover:#fd7e14;

    --btn-bg-danger:#dc3545;
    --btn-color-danger:#fff;
    --btn-bg-danger-hover:#dc3545;
}

.btn-close {
    background: var(--close-icon);
    background-size: contain;
    border: none;
    background-color: transparent;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
    z-index: 10;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--overlay);
}

.modal-wrapper .modal {
    position: absolute;
    background-color: var(--modal-bg);
    border-radius: var(--modal-radius);
    width: var(--modal-size);
    height: auto;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
}

.modal-wrapper .modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: var(--header-bg);
}

.modal-wrapper .modal .modal-header .modal-title {
    margin: 0;
    font-size: 1.75rem;
    color: #fff;
}

.modal-wrapper .modal .modal-body {
    font-size: var(--modal-fz);
    padding: var(--modal-body-padding);
    max-height: var(--modal-body-height);
    overflow-y: var(--modal-body-overflowY);
}

.modal-wrapper .modal .modal-footer {
    display: flex;
    justify-content: var(--footer-align);
    align-items: center;
    column-gap: var(--footer-button-gap);
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: var(--footer-bg);
}

.is-open {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
}

.is-open .modal {
    transform: translate(-50%, 90px);
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.primary {
    background-color: var(--btn-bg-primary);
    color: var(--btn-color-primary);
}

.primary:hover {
    background-color: var(--btn-bg-primary-hover);
}

.secondary {
    background-color: var(--btn-bg-secondary);
    color: var(--btn-color-secondary);
}

.secondary:hover {
    background-color: var(--btn-bg-secondary-hover);
}

.outline {
    background-color: var(--btn-bg-outline);
    border: 2px solid #007bff;
    color: #007bff;
}

.outline:hover {
    background-color: var(--btn-bg-outline-hover);
    color: var(--btn-color-outline-hover);
}

.danger {
    background-color: var(--btn-bg-danger);
    color: var(--btn-color-danger);
}

.danger:hover {
    background-color: var(--btn-bg-danger-hover);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width:600px) {
    .modal-wrapper .modal {
        width: 100%;
        bottom: 0;
        height: auto;
        transform: translate(-50%, 100%);
        transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
    }

    .modal-wrapper .modal .modal-body {
        max-height: var(--modal-body-height-mobile);
    }

    .is-open .modal {
        transform: translate(-50%, 0);
    }
}